always-auth=true
@altify:registry=https://pkgs.dev.azure.com/revix-development/_packaging/revix-global/npm/registry/
; begin auth token
//pkgs.dev.azure.com/revix-development/_packaging/revix-global/npm/registry/:username=revix-development
//pkgs.dev.azure.com/revix-development/_packaging/revix-global/npm/registry/:_password=cG5sczZ5ZnY2ZTd5eGxjdzYyZWpyYjV6ZnN0ZGFianZuZm1xY3kzdmJoaXB5NjdlYWU1YQ==
//pkgs.dev.azure.com/revix-development/_packaging/revix-global/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/revix-development/_packaging/revix-global/npm/:username=revix-development
//pkgs.dev.azure.com/revix-development/_packaging/revix-global/npm/:_password=cG5sczZ5ZnY2ZTd5eGxjdzYyZWpyYjV6ZnN0ZGFianZuZm1xY3kzdmJoaXB5NjdlYWU1YQ==
//pkgs.dev.azure.com/revix-development/_packaging/revix-global/npm/:email=npm requires email to be set but doesn't use the value
; end auth token